.listen-img {
  transform: scale(1) translateX(-5px);
  top: -0.5rem;
}

.nav {
  font-size: 4.5vw;
}

.nav-btn {
  min-width: 0;
}

.content {
  top: 5.75rem;
  font-size: 1rem;
}

.logo {
  width: 100%;
}

.song-title {
  font-size: 0.9rem;
}

.prev-button {
  left: -30px;
}

.next-button {
  right: -30px;
}

@media only screen and (min-width: 800px) {
  .listen-img {
    transform: scale(0.71) translateX(-5px);
    top: -5.85rem;
  }

  .nav {
    font-size: 2rem;
  }

  .nav-btn {
    min-width: 200px;
  }

  .content {
    top: 7rem;
    font-size: 1.5rem;
  }

  .song-title {
    font-size: 1.5rem;
  }

  .logo {
    width: 690px;
  }

  .prev-button {
    left: 74px;
  }

  .next-button {
    right: 80px;
  }
}
